/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
input.ng-touch.ng-invalid{
  border-color: red;
}
input.ng-valid{
  border-color: forestgreen;
}

.green-icon{
  color: green;
}

.red-icon{
  color: red;
}

#toast-container > div {
  opacity: 1;
}

table tr:hover{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
