<div class="container">
  <h1>View Item</h1>

  <a href="#" routerLink="/newitem/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ newitem.id }}</p>
  </div>
  <div>
    <strong>Name:</strong>
    <p>{{ newitem.name }}</p>
  </div>

  <div>
    <strong>Barcode:</strong>
    <p>{{ newitem.barcode }}</p>
  </div>
  <div>
    <label for="image">Image:</label>
    <img src="{{ 'https://localhost:44341/Resources/Images/'+newitem.pic }}" alt="{{ newitem.name }}" height="80px">
    <!--<app-upload-image></app-upload-image>-->
  </div>


</div>
