
<!--<button mat-fab color="warn" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button> -->

<div class="content; col-xs-4">
<!--style="display:flex; flex-direction: row;"-->
  <mat-card class="mat-elevation-z4" >
    <mat-card-header style="background-color:goldenrod;">
      <mat-card-title><mat-icon color="primary" [inline]="true">shopping_cart</mat-icon>CREATE LIST</mat-card-title>
    </mat-card-header>
      <mat-card-actions>
        <p>Click on add to create list </p>
      <button mat-fab color="warn" (click)="navigateurl()">
        <mat-icon>add</mat-icon>
    </button>  
    </mat-card-actions>
  </mat-card>
<br>
</div>
    <!--<img mat-card-image src="./../assets/images/mountains.jpg" /> -->
  
