<div class="container">
  <h1>View Item</h1>

  <a href="#" routerLink="/item-list/index" class="btn btn-primary">Back</a>

  <div>
    <strong>Id:</strong>
    <p>{{ item.id }}</p>
  </div>

  <div>
    <strong>Name:</strong>
    <p>{{ item.name }}</p>
  </div>

  <div>
    <strong>Barcode:</strong>
    <p>{{ item.barcode }}</p>
  </div>
  <div>
    <strong>Price:</strong>
    <p>{{ item.price }}</p>
  </div>
  <div>
    <strong>createdDate:</strong>
    <p>{{ item.createddate }}</p>
    <div>
      <strong>Size:</strong>
      <p>{{ item.size }}</p>
    </div>
    <div>
      <strong>Price:</strong>
      <p>{{ item.price }}</p>
    </div>
  </div>
</div>
