<div class="container">
  <h1>List Details</h1>

  <a href="#" routerLink="/itemlist/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ itemlist.id }}</p>
  </div>

  <div>
    <strong>Name:</strong>
    <p>{{ itemlist.name }}</p>
  </div>
  <div>
    <div class="ng-autocomplete">

      <ng-autocomplete [data]="data"
                       [searchKeyword]="keyword"
                       (selected)='selectEvent($event)'
                       (inputChanged)='onChangeSearch($event)'
                       (inputFocused)='onFocused($event)'
                       [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Size</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let item of itemlist.itemsListItem">
        <td>{{ item.item.id }}</td>
        <td>{{ item.item.name }}</td>
        <td>{{ item.item.price }}</td>
        <td>{{ item.item.size }}</td>
        <td>
          <!-- <a href="#" [routerLink]="['/itemlist/', post.id, 'view']" class="btn btn-info">View</a>-->
          <button type="button" (click)="deletePost(item.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <div>

  </div>
  <button class="btn btn-primary"  routerLink="./../../../payment/payment-details">Procced Payment </button>
</div>
