<div class="container">
  <h1>View Post</h1>

  <a href="#" routerLink="/itemlist/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ itemlist.itemListId }}</p>
  </div>

  <div>
    <strong>Name:</strong>
    <p>{{ itemlist.name }}</p>
  </div>
  <div>
    <div class="ng-autocomplete">
      Search :
      <ng-autocomplete [data]="data"
                       [searchKeyword]="keyword"
                       (selected)='selectEvent($event)'
                       (inputChanged)='onChangeSearch($event)'
                       (inputFocused)='onFocused($event)'
                       [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

</div>
